.blog-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.25s;
}

.blog-section .options {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    overflow: hidden;
    min-width: 700px;
    max-width: 1000px;
    width: calc(100% - 100px);
    height: 440px;
}
.arrow-button{
  background-color: green;
  width: 50px;
  height: 50px; 
  border-radius: 50%; 
  font-size: 21px; 
}
.blog-section .options .option {
    position: relative;
    overflow: hidden;
    min-width: 60px;
    margin: 10px;
    background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
    background-size: auto 120%;
    background-position: center;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.option:nth-child(1) {
    --defaultBackground: #ed5565;
}
.option:nth-child(2) {
    --defaultBackground: #fc6e51;
}
.option:nth-child(3) {
    --defaultBackground: #ffce54;
}
.option:nth-child(4) {
    --defaultBackground: #2ecc71;
}
.option:nth-child(5) {
    --defaultBackground: #5d9cec;
}
.option:nth-child(6) {
    --defaultBackground: #ac92ec;
}

.option.active {
    flex-grow: 10000;
    transform: scale(1);
    max-width: 600px;
    margin: 0px;
    border-radius: 40px;
    background-size: auto 100%;
}

.option.active .label {
    bottom: 20px;
    left: 20px;
}
.option.active .label .info > div {
    left: 0px;
    opacity: 1;
}
.option:not(.active) {
    flex-grow: 1;
    border-radius: 30px;
}

.option:not(.active) .label {
    bottom: 10px;
    left: 10px;
}
.option:not(.active) .label .info > div {
    left: 20px;
    opacity: 0;
}

.label {
    display: flex;
    position: absolute;
    right: 0px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: white;
    color: var(--defaultBackground);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7px;
    color: white;
    font-weight: bold;
}

.carousel-item img{
max-width: 90vw ;
}
.carousel-item {
position: relative;
}

.carousel-item a::before {
content: "";
position: absolute;
top: 0px;
right: 0px;
bottom: 0px;
left: 0px;
}

h2{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
    color: white;
}
@media only screen and (max-width: 600px) {

h2{
    padding-bottom: 0px;
}

.mobile-blogs {
    display: block; 
}

.blog-section-desktop {
    display: none; 
}
}
@media only screen and (min-width: 601px) {
.mobile-blogs {
    display: none; 
}

.blog-section-desktop {
    display: flex; 
}
}
.blogs-button{
border-radius: 7px; 
padding: 5px 10px 5px 10px;
background-color:green; 
font-size: larger; 
font-weight: bold;
color:black ;   
}
.blogs-button:hover{
background-color: white;
}
#nextButton:hover,#prevButton:hover{
background-color: white;
}
