.active-year {
    display: flex;
}

.evnentContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.event-description {
    border: 1px solid green;
    box-shadow: 0 0 0 0 rgba(19, 135, 19, 0.8);
    border-radius: 20px;
    text-align: center;
}

.event-description-content h2 {
    margin-bottom: 25px;
}

.descriptionBx {
    padding: 20px;
    max-width: 35vw;
    display: none;
}

.event-active {
    display: block;
}

.container1 {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    margin: 0;
}

.container1 .event-icon {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    left: -50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container1 .event-icon {
    margin-left: 10px;
}

.container1 .event-icon .imgBx {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #fff;
    box-shadow: 0 0 0 4px #222,
        0 0 0 6px #fff;
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 285px;
    z-index: 100;
    overflow: hidden;
}

.container1 .event-icon .imgBx:hover {
    margin-top: -10px;
}

.container1 .event-icon .imgBx.active {
    box-shadow: 0 0 0 4px #222,
        0 0 0 10px #ff1d50;
}

.container1 .event-icon .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transform: rotate(calc(-360deg/8 * var(--i)));
    transition: 0.5s;
}

.container1 .event-icon .imgBx.active img {
    filter: grayscale(0);
}

.content1 {
    position: absolute;
    inset: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1:before {
    content: '';
    position: absolute;
    inset: 70px;
    border: 4px solid transparent;
    border-left: 5px solid #73f373;
    border-right: 5px solid #fff;
    border-radius: 50%;
    animation: anim12 10s linear infinite;
    z-index: 1;
    pointer-events: none;
}

@keyframes anim12 {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}

.content1:after {
    content: '';
    position: absolute;
    inset: 125px;
    border: 4px solid transparent;
    border-top: 5px solid #459d5f;
    border-bottom: 5px solid #f1faee;
    border-radius: 50%;
    animation: anim22 5s linear infinite;
    z-index: -100;
    pointer-events: none;
}

@keyframes anim22 {
    0% {
        rotate: 360deg;
    }

    100% {
        rotate: 0deg;
    }
}

.contentBx {
    position: absolute;
    transform: scale(0);
    transition: 0.5s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBx.active {
    transform: scale(1);
    opacity: 1;
    transition-delay: 0.5s;
}

.contentBx .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-auto-flow: 15px;
    background-color: transparent;
    left: 10px;
}

.contentBx .card .imgBx2 {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 20px;
    background-color: transparent;
    overflow: hidden;
}

.contentBx .card .imgBx2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentBx .card .textBx {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contentBx .card .textBx h2 {
    margin-top: 10px;
    position: relative;
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
}

.contentBx .card .textBx h2 span {
    font-size: 0.65em;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.contentBx .card .textBx .sci {
    position: relative;
    display: flex;
    gap: 7px;
    margin-top: 10px;
}

.contentBx .card .textBx .sci li {
    list-style: none;
}

.contentBx .card .textBx .sci li a {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.contentBx .card .textBx .sci li a:hover {
    background: #2196f3;
}

.evnentContent {
    display: none;
}

.active-year {
    display: flex;
}

.yo {
    margin-bottom: 30px;
}

@media(max-width: 991px) {
    .evnentContent {
        flex-direction: column;
    }

    .contentBx .card {
        left: 2px;
    }

    .container1 {
        position: relative;
        width: 300px;
        height: 300px;
        border: 1px solid #f5f5f5;
        border-radius: 50%;
        margin-bottom: 50px;
    }

    .container1 .event-icon .imgBx {
        transform-origin: 170px;
    }

    .container1 .event-icon .imgBx {
        width: 50px;
        height: 50px;
    }

    .descriptionBx {
        max-width: 100%;
    }

    .container1 .event-icon {
        left: -53%;
    }

    .contentBx .card .imgBX2 {
        width: 120px;
        height: 120px;
    }

    .yo {
        margin-bottom: 0px;
    }
}

.hidden {
    display: none;
}
