#Memories h2 {
    position: relative;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;

}

.carousel-item {
    max-height: 85vh;
    padding-top: 20px;
    margin-top: 10px;
}

.carousel-control-prev {
    color: #095109c1;
}

.carousel-indicators .active {
    background-color: #2c8c2c;
}

.mimg {
    border-radius: 40px;
    height: 39vw;
    width: 125vh;

}

#Memories h3 {
    display: inline;
    background-color: black;
    color: white;
    font-weight: 700;

}


.header {
    border: 7px #3DEB00 solid;
    margin-left: 600px;
    margin-right: 600px;
    border-radius: 50px;
    margin-top: -190px;
    z-index: 2;

}

.svg {
    height: 40px;
    width: 40px;
}

@media screen and (min-width: 850px) and (max-width:1200px) {
    .mimg {
        border-radius: 40px;
        height: 49vw;
        width: 125vh;

    }

    #Memories h3 {
        position: relative;
        top: 49px;
    }

}

@media screen and (min-width: 700px) and (max-width:849px) {
    .mimg {
        border-radius: 40px;
        height: 39vw;
        width: 85vh;

    }

    #Memories h3 {
        font-weight: 700;

        position: relative;
        top: 49px;
    }

}

@media screen and (min-width: 551px) and (max-width:699px) {
    .mimg {
        border-radius: 40px;
        height: 49vw;
        width: 75vh;


    }

    #Memories h3 {
        font-weight: 600;
        font-size: 20px;
        position: relative;
        top: 43px;
    }

}

@media screen and (min-width: 480px) and (max-width:550px) {
    .mimg {
        border-radius: 40px;
        height: 54vw;
        width: 65vh;

    }

    #Memories h3 {
        font-weight: 600;
        font-size: 18px;
        position: relative;
        top: 43px;
    }

}

@media screen and (max-width: 479px) {
    .mimg {
        border-radius: 40px;
        height: 57vw;
        width: 50vh;


    }

    #Memories h3 {
        font-weight: 600;
        font-size: 18px;
        position: relative;
        top: 43px;

    }

    .svg {
        height: 30px;
        width: 30px;
    }
}